<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Spotify Client
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="authWithSpotify()" *ngIf="!loggedIn">Login</button>
      <button ion-button clear (click)="logout()" *ngIf="loggedIn">Logout</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
  <div *ngIf="!loggedIn" text-center padding>Please Login to load your Playlists!</div>
 
  <ion-list>
    <button ion-item *ngFor="let item of playlists" (click)="openPlaylist(item)">
      <ion-avatar item-start *ngIf="item.images.length > 0">
        <img [src]="item.images[0].url">
      </ion-avatar>
      {{ item.name }}
      <p>Tracks: {{ item.tracks.total }}</p>
    </button>
  </ion-list>
</ion-content>

